In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import linear_model

In [3]:
df = pd.read_csv(r"homeprices.csv")

In [4]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

Before applying any machine learning models,
first we clean the datast by filling in the NaN values

In [5]:
median_bedrooms = df.bedrooms.median()

In [6]:
df.bedrooms.fillna(median_bedrooms,inplace = True)
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

we have 3 Independent variables (area,bedrooms,age) and our target variable is price which we want to predict.\
so our linear regression is

### price = (m1 * area) + (m2 * bedrooms) + (m3 * age) + c

where \
price = Dependent Variable (target) \
m1,m2,m3 = coefficients (slope) \
area,bedrooms,age = Independent Variables (Features) \
c = Intercept

In [7]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [8]:
m1,m2,m3 = reg.coef_
print(m1,m2,m3)

112.06244194213465 23388.880077939117 -3231.7179086329706

In [9]:
c = reg.intercept_
c

221323.0018654043

Price for my house

In [10]:
# Price for my house by calculating manually
manual_price = m1*2100 + m2*5 + m3*11 + c
manual_price

538049.63333862

Predecting price using Ml model

In [11]:
reg.predict([[2100,5,11]])

C:\Users\ibrah\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([538049.63333862])

In [12]:
reg.predict([[2100,5,2]])
# a 2 year old same house costa less

C:\Users\ibrah\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([567135.09451632])

In [13]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000