In [2]:
import pandas as pd
import numpy as np

In [23]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

In [34]:
df = pd.DataFrame(people)
df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [35]:
df.isna().sum()

first    2
last     2
email    2
age      2
dtype: int64

In [36]:
dff = df.dropna(axis = 0, thresh = 2)

In [37]:
dff.reset_index().drop(columns = 'index',axis = 0,inplace = True)

In [38]:
dff.reset_index()

   index  first     last                    email      age
0      0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1      1   Jane      Doe        JaneDoe@email.com       55
2      2   John      Doe        JohnDoe@email.com       63
3      3  Chris  Schafer                     None       36
4      6     NA  Missing                       NA  Missing

In [44]:
df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [41]:
df2 = df.dropna(axis = 0 , how = 'all',subset = ['email','last'])

In [43]:
df2

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
5   None      NaN      Anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [47]:
df2.replace('NA',np.nan,inplace = True)

C:\Users\ibrah\AppData\Local\Temp\ipykernel_105616\3425270861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.replace('NA',np.nan,inplace = True)

In [49]:
df2.replace('Missing',np.nan,inplace = True)

C:\Users\ibrah\AppData\Local\Temp\ipykernel_105616\3883074590.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.replace('Missing',np.nan,inplace = True)

In [53]:
df2

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
5   None      NaN      Anonymous@email.com  None
6    NaN      NaN                      NaN   NaN

In [78]:
df2.age.fillna(0,inplace = True)

C:\Users\ibrah\AppData\Local\Temp\ipykernel_105616\4152305445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.age.fillna(0,inplace = True)

In [83]:
df2.age = df2.age.astype(int)

C:\Users\ibrah\AppData\Local\Temp\ipykernel_105616\4200615110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.age = df2.age.astype(int)

In [87]:
type(df2.age[1])

numpy.int32

In [89]:
df2.age.mean()

31.166666666666668

In [94]:
df2.age.replace(0,df2.age.mean(),inplace = True)

C:\Users\ibrah\AppData\Local\Temp\ipykernel_105616\1345932677.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.age.replace(0,df2.age.mean(),inplace = True)

In [97]:
df2.age = df2.age.astype(int)

C:\Users\ibrah\AppData\Local\Temp\ipykernel_105616\4200615110.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.age = df2.age.astype(int)

In [98]:
df2

   first     last                    email  age
0  Corey  Schafer  CoreyMSchafer@gmail.com   33
1   Jane      Doe        JaneDoe@email.com   55
2   John      Doe        JohnDoe@email.com   63
3  Chris  Schafer                     None   36
5   None      NaN      Anonymous@email.com   31
6    NaN      NaN                      NaN   31

In [99]:
df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN        0
5   None      NaN      Anonymous@email.com        0
6     NA  Missing                       NA  Missing

In [100]:
na_vals = ['NA','Missing']
df.replace(na_vals,np.nan)

   first     last                    email  age
0  Corey  Schafer  CoreyMSchafer@gmail.com   33
1   Jane      Doe        JaneDoe@email.com   55
2   John      Doe        JohnDoe@email.com   63
3  Chris  Schafer                     None   36
4    NaN      NaN                      NaN    0
5   None      NaN      Anonymous@email.com    0
6    NaN      NaN                      NaN  NaN

# Stack over Cleaning 1

In [101]:
import pandas as pd
import numpy as np

In [102]:
df = pd.read_csv(r"C:\Users\ibrah\OneDrive\Desktop\Data Science\Pandas\stack-overflow-developer-survey-2022\survey_results_schema.csv")

In [112]:
df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
...,...,...,...,...,...,...
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [106]:
df.head(20)

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
6,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
7,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
8,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
9,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
10,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
11,QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
17,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
18,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
19,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL

In [105]:
df.tail(10)

,qid,qname,question,force_resp,type,selector
69,QID289,Knowledge_4,I am able to quickly find answers to my questi...,NaN,MC,MAVR
70,QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
71,QID289,Knowledge_6,I often find myself answering questions that I...,NaN,MC,MAVR
72,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
73,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [108]:
df.columns

Index(['qid', 'qname', 'question', 'force_resp', 'type', 'selector'], dtype='object')

In [111]:
df.dropna()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
...,...,...,...,...,...,...
61,QID286,SOTeamsUsage,Does your team use Stack Overflow for Teams?,False,MC,SAVR
62,QID294,TrueFalse,Last few questions...,False,Matrix,Likert
63,QID131,S7,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
64,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
65,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR

In [115]:
df.fillna(0,inplace = True)

In [119]:
df.replace(0,'True',inplace =True)

In [120]:
df.tail(5)

,qid,qname,question,force_resp,type,selector
74,QID290,Frequency_2,Interacting with people outside of your immedi...,True,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,True,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,True,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,True,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,True,MC,MAVR

### Stack overflow clening 2

In [153]:
df = pd.read_csv(r"C:\Users\ibrah\OneDrive\Desktop\Data Science\Pandas\stack-overflow-developer-survey-2022\survey_results_public.csv")

In [154]:
df.head(20)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
5,6,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
6,7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
7,8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
8,9,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Coding Bootcamp,NaN,NaN,6,...,15-30 minutes a day,Over 120 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,49056.0
9,10,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
10,11,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Written Tutorial...,NaN,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,60307.0
11,12,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,NaN,12,...,30-60 minutes a day,60-120 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,Yes,Yes,No,Too short,Easy,194400.0
12,13,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",NaN,NaN,12,...,30-60 minutes a day,Less than 15 minutes a day,Somewhat short,DevOps function;Microservices,Yes,No,Yes,Appropriate in length,Easy,65000.0
13,14,I am a developer by profession,"Employed, part-time",Fully remote,Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,22,...,60-120 minutes a day,30-60 minutes a day,Very short,Continuous integration (CI) and (more often) c...,No,No,No,Too short,Easy,NaN
14,15,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Freelance/contract work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Written Tutorials;Stack Overflow;Video-based O...,NaN,11,...,30-60 minutes a day,30-60 minutes a day,Somewhat long,DevOps function;Continuous integration (CI) an...,No,Yes,Yes,Appropriate in length,Easy,110000.0
15,16,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media,NaN,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither easy nor difficult,NaN
16,17,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy;Codecademy,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,19224.0
17,18,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,Coursera;Pluralsight,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,202623.0
18,19,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Secondary school (e.g. American high school, G...","Books / Physical media;School (i.e., Universit...",NaN,NaN,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,51192.0
19,20,I am learning to code,"Student, full-time",NaN,NaN,Some college/university study without earning ...,Books / Physical media;Coding Bootcamp;Colleague,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [155]:
df.tail(10)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
73258,73259,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Onli...,Coursera;Udemy,5,...,15-30 minutes a day,15-30 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN
73259,73260,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Other (please specify):,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,6,...,15-30 minutes a day,Less than 15 minutes a day,Somewhat short,DevOps function;Continuous integration (CI) an...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
73260,73261,I am a developer by profession,"Employed, full-time;Student, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",NaN,NaN,8,...,15-30 minutes a day,30-60 minutes a day,Very long,DevOps function;Developer portal or other cent...,No,No,Yes,Appropriate in length,Easy,NaN
73261,73262,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Programming Game...,Udemy;Codecademy;Pluralsight,9,...,15-30 minutes a day,15-30 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
73262,73263,I am learning to code,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [156]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [157]:
df2 = df.drop(df.columns[10:], axis=1)
df2

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8
...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16

In [158]:
df2.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode'],
      dtype='object')

In [159]:
df2.head(10)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8
5,6,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,15
6,7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3
7,8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1
8,9,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Coding Bootcamp,NaN,NaN,6
9,10,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,37

In [160]:
df2.tail(10)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode
73258,73259,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Onli...,Coursera;Udemy,5
73259,73260,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Other (please specify):,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,6
73260,73261,I am a developer by profession,"Employed, full-time;Student, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",NaN,NaN,8
73261,73262,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Programming Game...,Udemy;Codecademy;Pluralsight,9
73262,73263,I am learning to code,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,4
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16

In [162]:
df2.isna().sum()

ResponseId                  0
MainBranch                  0
Employment               1559
RemoteWork              14310
CodingActivities        14369
EdLevel                  1697
LearnCode                1688
LearnCodeOnline         22583
LearnCodeCoursesCert    43879
YearsCode                1937
dtype: int64

In [163]:
df_na = df2.dropna()

In [166]:
df_na.isna().sum()

ResponseId              0
MainBranch              0
Employment              0
RemoteWork              0
CodingActivities        0
EdLevel                 0
LearnCode               0
LearnCodeOnline         0
LearnCodeCoursesCert    0
YearsCode               0
dtype: int64

In [167]:
df_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19076 entries, 16 to 73267
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ResponseId            19076 non-null  int64
 1   MainBranch            19076 non-null  object
 2   Employment            19076 non-null  object
 3   RemoteWork            19076 non-null  object
 4   CodingActivities      19076 non-null  object
 5   EdLevel               19076 non-null  object
 6   LearnCode             19076 non-null  object
 7   LearnCodeOnline       19076 non-null  object
 8   LearnCodeCoursesCert  19076 non-null  object
 9   YearsCode             19076 non-null  object
dtypes: int64(1), object(9)
memory usage: 1.6+ MB

In [168]:
df_na.describe()

         ResponseId
count  19076.000000
mean   37378.358828
std    20584.469121
min       17.000000
25%    19723.000000
50%    37949.500000
75%    54501.000000
max    73268.000000

In [171]:
df2.isna().sum()

ResponseId                  0
MainBranch                  0
Employment               1559
RemoteWork              14310
CodingActivities        14369
EdLevel                  1697
LearnCode                1688
LearnCodeOnline         22583
LearnCodeCoursesCert    43879
YearsCode                1937
dtype: int64

In [177]:
df2.head(40)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8
5,6,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,15
6,7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3
7,8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1
8,9,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Coding Bootcamp,NaN,NaN,6
9,10,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,37
10,11,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Written Tutorial...,NaN,5
11,12,"I am not primarily a developer, but I write co...","Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Contribute to open-source projects;Freel...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,NaN,12
12,13,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",NaN,NaN,12
13,14,I am a developer by profession,"Employed, part-time",Fully remote,Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,22
14,15,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Freelance/contract work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Written Tutorials;Stack Overflow;Video-based O...,NaN,11
15,16,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media,NaN,NaN,4
16,17,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy;Codecademy,7
17,18,I am a developer by profession,"Employed, full-time",Fully remote,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,Coursera;Pluralsight,13
18,19,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Secondary school (e.g. American high school, G...","Books / Physical media;School (i.e., Universit...",NaN,NaN,36
19,20,I am learning to code,"Student, full-time",NaN,NaN,Some college/university study without earning ...,Books / Physical media;Coding Bootcamp;Colleague,NaN,NaN,2
20,21,I am a developer by profession,"Student, part-time;Employed, part-time","Hybrid (some remote, some in-person)",Hobby,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;V...,NaN,1
21,22,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Other (please specify):,NaN,NaN,5
22,23,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,Something else,Books / Physical media,NaN,NaN,25
23,24,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Blogs;Written Tutorials;Stack Overflow;Written...,NaN,10
24,25,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,I donâ€™t code outside of work,Some college/university study without earning ...,NaN,NaN,NaN,40
25,26,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Codecademy;edX;Udacity,16
26,27,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Stack Overflow;Online ...,NaN,10
27,28,I am a developer by profession,"Not employed, and not looking for work",NaN,NaN,Something else,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,4
28,29,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Contribute to open-source projects,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20
29,30,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Hobby;Bootstrapping a business,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow,NaN,27
30,31,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,32,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;O...,NaN,24
32,33,I code primarily as a hobby,"Student, full-time;Employed, part-time",Full in-person,Hobby;Contribute to open-source projects,Primary/elementary school,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Online challenges (e.g...,NaN,3
33,34,"I am not primarily a developer, but I write co...","Student, part-time;Employed, part-time",Full in-person,Hobby,Some college/university study without earning ...,Friend or family member;Other online resources...,Technical documentation;Blogs;Written Tutorial...,NaN,8
34,35,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs,Coursera;Udemy;Pluralsight;edX,6
35,36,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Other doctoral degree (Ph.D., Ed.D., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,16
36,37,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,12
37,38,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,I donâ€™t code outside of work,"Secondary school (e.g. American high school, G...",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Written Tutorial...,NaN,19
38,39,I code primarily as a hobby,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",Friend or family member;Other online resources...,Blogs;Written Tutorials;Stack Overflow;Video-b...,Other,2
39,40,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy;Codecademy,24

In [188]:
na_vals = ['NA','Missing','Other','--']
df2.replace(na_vals,np.nan,inplace = True)

In [190]:
df2.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8

In [197]:
df2.loc[df['YearsCode'] == 'More than 50 years']

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode
77,78,"I used to be a developer by profession, but no...",Retired,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other (please specify):,NaN,NaN,More than 50 years
635,636,I am a developer by profession,"Employed, full-time;Student, part-time",Fully remote,Hobby;Contribute to open-source projects;Other...,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,More than 50 years
861,862,I am a developer by profession,Retired,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,More than 50 years
3679,3680,"I am not primarily a developer, but I write co...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;O...,NaN,More than 50 years
5471,5472,"I am not primarily a developer, but I write co...","Independent contractor, freelancer, or self-em...",Fully remote,Contribute to open-source projects,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;O...,Udemy;Pluralsight,More than 50 years
...,...,...,...,...,...,...,...,...,...,...
71663,71664,"I used to be a developer by profession, but no...",Retired,NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Other (please specify):,NaN,NaN,More than 50 years
71810,71811,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Written Tutorials;Stac...,NaN,More than 50 years
72040,72041,I code primarily as a hobby,Retired,NaN,NaN,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other (please specify):,NaN,NaN,More than 50 years
72091,72092,I am a developer by profession,"Student, full-time;Student, part-time",NaN,NaN,Primary/elementary school,Books / Physical media;Other online resources ...,Video-based Online Courses;How-to videos,NaN,More than 50 years
72959,72960,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Bootstrapping a business,Some college/university study without earning ...,"Books / Physical media;School (i.e., Universit...",NaN,NaN,More than 50 years

In [202]:
df2.YearsCode.unique()

array([nan, '14', '20', '8', '15', '3', '1', '6', '37', '5', '12', '22',
       '11', '4', '7', '13', '36', '2', '25', '10', '40', '16', '27',
       '24', '19', '9', '17', '18', '26', 'More than 50 years', '29',
       '30', '32', 'Less than 1 year', '48', '45', '38', '39', '28', '23',
       '43', '21', '41', '35', '50', '33', '31', '34', '46', '44', '42',
       '47', '49'], dtype=object)

In [207]:
df2.YearsCode.replace('More than 50 years',51,inplace = True)

In [208]:
df2.YearsCode.unique()

array([nan, '14', '20', '8', '15', '3', '1', '6', '37', '5', '12', '22',
       '11', '4', '7', '13', '36', '2', '25', '10', '40', '16', '27',
       '24', '19', '9', '17', '18', '26', 50, '29', '30', '32', 0, '48',
       '45', '38', '39', '28', '23', '43', '21', '41', '35', '50', '33',
       '31', '34', '46', '44', '42', '47', '49'], dtype=object)

In [206]:
df2.YearsCode.replace('Less than 1 year',0,inplace = True)

In [217]:
df2.YearsCode.unique()

array([nan, '14', '20', '8', '15', '3', '1', '6', '37', '5', '12', '22',
       '11', '4', '7', '13', '36', '2', '25', '10', '40', '16', '27',
       '24', '19', '9', '17', '18', '26', 50, '29', '30', '32', 0, '48',
       '45', '38', '39', '28', '23', '43', '21', '41', '35', '50', '33',
       '31', '34', '46', '44', '42', '47', '49'], dtype=object)

In [221]:
df2.YearsCode.fillna(0,inplace = True)

In [227]:
df2.YearsCode = df2.YearsCode.astype(float)

In [228]:
type(df2.YearsCode[0])

numpy.float64

In [229]:
df2.YearsCode.mean()

11.925069607468473

In [230]:
df2.YearsCode.median()

9.0

In [231]:
df2.YearsCode.mode()

0    10.0
Name: YearsCode, dtype: float64