In [6]:
import pandas as pd
df = pd.read_csv(r"C:\Users\ibrah\OneDrive\Desktop\Workshop\nyc_weather.csv")

In [7]:
df.head(5)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [17]:
df.isnull().sum()

EST                      0
Temperature              0
DewPoint                 0
Humidity                 0
Sea Level PressureIn     0
VisibilityMiles          0
WindSpeedMPH             3
PrecipitationIn          0
CloudCover               0
Events                  22
WindDirDegrees           0
dtype: int64

In [20]:
df = df.dropna()

In [21]:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000
mean,35.285714,22.571429,63.142857,29.858571,7.571429,8.857143,5.285714,247.714286
std,9.050125,11.956270,12.928374,0.205542,2.992053,3.760699,2.563480,130.465467
min,25.000000,6.000000,45.000000,29.520000,1.000000,6.000000,2.000000,42.000000
25%,27.000000,16.000000,53.000000,29.775000,8.000000,6.500000,3.000000,184.500000
50%,36.000000,22.000000,66.000000,29.830000,8.000000,7.000000,6.000000,311.000000
75%,42.500000,30.000000,73.500000,29.975000,9.000000,10.000000,7.500000,333.500000
max,47.000000,38.000000,78.000000,30.160000,10.000000,16.000000,8.000000,345.000000

In [23]:
df.isnull().sum()

EST                     0
Temperature             0
DewPoint                0
Humidity                0
Sea Level PressureIn    0
VisibilityMiles         0
WindSpeedMPH            0
PrecipitationIn         0
CloudCover              0
Events                  0
WindDirDegrees          0
dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 8 to 26
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   EST                   7 non-null      object
 1   Temperature           7 non-null      int64
 2   DewPoint              7 non-null      int64
 3   Humidity              7 non-null      int64
 4   Sea Level PressureIn  7 non-null      float64
 5   VisibilityMiles       7 non-null      int64
 6   WindSpeedMPH          7 non-null      float64
 7   PrecipitationIn       7 non-null      object
 8   CloudCover            7 non-null      int64
 9   Events                7 non-null      object
 10  WindDirDegrees        7 non-null      int64
dtypes: float64(2), int64(6), object(3)
memory usage: 672.0+ bytes

In [26]:
df["Humidity"].mean()

63.142857142857146

In [28]:
df["Temperature"].max()

47

In [29]:
df["WindSpeedMPH"].mean()

8.857142857142858

### Dataframe Basics

In [62]:
df = pd.read_csv(r"C:\Users\ibrah\OneDrive\Desktop\Workshop\Pandas_Codebasics\weather_data.csv",parse_dates = ['day'])
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           31          2  Sunny

Shape of the rows and columns

In [42]:
a,b= df.shape
print(a)
print(b)

6
4

In [49]:
type(df['temperature'])

pandas.core.series.Series

In [65]:
df['day']

0   2017-01-01
1   2017-01-02
2   2017-01-03
3   2017-01-04
4   2017-01-05
5   2017-01-06
Name: day, dtype: datetime64[ns]

In [70]:
type(df['day'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [71]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           31          2  Sunny