# Variables

In [5]:
rent = 1120
gas = 202.6
food = 500.2
total = rent + gas + food
print(total)

print("change in rent")
rent = 2000
total = rent + gas + food
print(total)

1822.8
change in rent
2702.7999999999997

# Numbers

In [6]:
12+8

20

In [7]:
11%2

1

In [10]:
# to find the power opf number
3**2

9

In [22]:
shimoga_thirtalli = 60
thirtalli_udpi = 90
total_dist = shimoga_thirtalli + thirtalli_udpi

# for numbers we use , operator
print("the total disatance from shimoga to udpi",total_dist,"KM")
kmph = 45
time = total_dist/kmph
print("Total time taken",time,"Hr")
round(time,3)

the total disatance from shimoga to udpi 150 KM
Total time taken 3.3333333333333335 Hr

3.333

to round off the decimal values

In [24]:
10+2*3

16

In [25]:
(10+2)*6

72

In [29]:
print(6-5.7)
#theres no precise way to store floting number or we use round function
print(round(6-5.7,2))

0.2999999999999998
0.3

# Strings

In [31]:
text = "Ice cream"
text[1]
text[0]

'I'

Strings are Immutable
means you cant change them oce they are constructed

In [33]:
text[0] = 'g'

TypeError: 'str' object does not support item assignment

Slicing

 text = I c e   c r e a m
        0 1 2 3 4 5 6 7 8     in the end always add +1 and space always takesup 1 space

 text =  I  c  e     c  r  e  a  m
        -9 -8 -7 -6 -5 -4 -3 -2 -1

In [63]:
print(text[0:3])
print(text[:3])

# text = I c e   c r e a m
#        0 1 2 3 4 5 6 7 8     in the end always add +1 and space always takesup 1 space

# text =  I  c  e     c  r  e  a  m
#        -9 -8 -7 -6 -5 -4 -3 -2 -1
print(text[1:6])
print(text[-5:-1])

Ice
Ice
ce cr
crea

In [37]:
print(text[4:])
print(text[4:9])

cream
cream

Concanating two strings

In [65]:
s1 = "hello"
s2 = "world"
print(s1+s2)

# for stings we use + operator 
print(s1+" "+s2)

helloworld
hello world

To concanate a number with a string

In [66]:
state = "Total state in India # "
total = 28

print(state+total)

TypeError: can only concatenate str (not "int") to str

In [68]:
#to resolve this we need to coinvert the numbere to string
state + str(total)

'Total state in India # 28'

# Lists

In [69]:
# Creating a List
items = ["bread","fruits","pasta","milk"]
items

['bread', 'fruits', 'pasta', 'milk']

In [71]:
items[3]

'milk'

Lists are mutable means they can be modified

In [73]:
items[0] = "chips"
items

['chips', 'fruits', 'pasta', 'milk']

In [76]:
# accesing elemewnts in list

items[0:3]

['chips', 'fruits', 'pasta']

In [78]:
# Append a list
# it will Inseret ther element in the end

items.append("butter")
items

['chips', 'fruits', 'pasta', 'milk', 'butter', 'butter']

In [79]:
# to insert the element anywhewre in the list

items.insert(1,"Juice")
items

['chips', 'Juice', 'fruits', 'pasta', 'milk', 'butter', 'butter']

In [80]:
#  Joining two list

food = ["rice","dal","salt"]
bathroom = ["brush","paste",'mop']
item = food + bathroom
item

['rice', 'dal', 'salt', 'brush', 'paste', 'mop']

#Concanatenate a list 
we cannot concanitate a list as we cannot add a integer or number

In [83]:
#  length of a list

sub=["Math","English","Hindi","Science","GK"]
len(sub)

5

In [94]:
#  to check if an item exists in list using in operator

print("Math" in sub)
print("Physics" in sub)
"gk" in sub           # it is case Sensitive

True
False

False

# if Statements

In [93]:
num = int(input("Enter a Number "))

if num%2 == 0:
    print(num," is even")
else:
    print(num," is odd")

Enter a Number 56
56  is even

In [95]:
# AND OR operators

if 3>2 and 4>2:
    print("True")
else:
    print("False")

True

In [97]:
if 3>2 and 4>6:
    print("True")
else:
    print("False")

False

In [98]:
if 3>2 or 4>6:
    print("True")
else:
    print("False")

True

Write a program to ask the user to enter a dish and it should print ther cuisine of the dish

In [106]:
dish = input("Enter the dish ")

indian = ["dosa","idli","butter chicken","rice dal","roti"]
chinese = ["noodels","chicken fried rice","tofu"]
arab = ["al faham","biryani","mandi","sharwama"]

if dish in indian:
    print(dish+" is an indian cuisine")
elif dish in chinese:
    print(dish+" is a Chinese cuisine")
elif dish in arab:
    print(dish+" is an Arab cuisine")
else:
    print("Hmm... it seems to me I don't know the which cuisine is "+dish)

Enter the dish tofu
tofu is a Chinese cuisine

# For Loops

In [111]:
exp = [111,222,333,444,555]
total = exp[0] + exp[1] + exp[2] + exp[3] + exp[4]
print(total)

totals = 0
# use for loop 
for i in exp:
    totals = totals + i
totals

1665

1665

In [118]:
# Using range        always the end should be +1

for i in range (1,11):
    print(i)

print()

for i in range (10):
    print(i)

1
2
3
4
5
6
7
8
9
10

0
1
2
3
4
5
6
7
8
9

In [116]:
exp = [2132,3241,2421,4121,3732]
total = 0
for i in range(len(exp)):
    print("Month ",(i+1),"Expense ",exp[i])
    total = total + exp[i]
total

Month  1 Expense  2132
Month  2 Expense  3241
Month  3 Expense  2421
Month  4 Expense  4121
Month  5 Expense  3732

15647

In [137]:
#  using break

key = 55
num = [43,23,55,34,87,25,76,48,25,18,17,69]

for i in range(len(num)):
    if key == num[i]:
        print(key," Element found at index",i)
         break                                  # herew it will break out of the for loop
    else:
        print(key," Element not found at index ",i)

Enter the number 55
Length of list is  12
55  Element not found at index  0
55  Element not found at index  1
55  Element found at index 2
55  Element not found at index  3
55  Element not found at index  4
55  Element not found at index  5
55  Element not found at index  6
55  Element not found at index  7
55  Element not found at index  8
55  Element not found at index  9
55  Element not found at index  10
55  Element not found at index  11

Q. Print the square of even numbers from 1 to 10

In [142]:
# Using continue statement

for i in range (1,10):
    if i%2 == 1:
        continue   # here it will skip ther nbext line and again go back to the for loop
    print(i*i)

4
16
36
64

While statements

In [143]:
i = 0
while i <= 5:
    print(i)
    i+=1   # for whilke loop we have to iterate it everytiume

0
1
2
3
4
5

# Functions

It makes our code more modular and more readable

In [153]:
ahad_exp = [2211,4331,3232,1212,3212]
fahad_exp = [2321,2211,2233,3421,3221]

#  to calculate the total expence of both brothers

def total_exp (exp):
    """ this is documentation strings"""
    total = 0
    for i in exp:
        total = total + i
    return total
    
ahad_total = total_exp(ahad_exp)
fahad_total = total_exp(fahad_exp)

print("Total expence of ahad is ",ahad_total)
print("Total expence of Fahad is ",fahad_total)

Total expence of ahad is  14198
Total expence of Fahad is  13407

# Dictionaries and Tuples

A dictonary is datatype similar to array and has keys and values insted of index in array

In [171]:
# dictonary is similar to telephone directory

contact = {
#   keys  : values
    "Ahad":9632655288,
    "dad":8217617426,
    "mom":7019721464,
    "Fahad":9902344892
}

contact["mom"]
# we can access any element form dictonary just like array, in ARRAY we use index and in dictonary we 
# use keys to access the elements

7019721464

 we can access any element form dictonary just like array, in ARRAY we use index and in dictonary we use keys to access the elements.
 
In dictonary the the ordser has no importance unlike array because we access the elements using the keys

In [172]:
# Adding a new contact in dictonary

contact["Zaki"]=7892541848
contact

{'Ahad': 9632655288,
 'dad': 8217617426,
 'mom': 7019721464,
 'Fahad': 9902344892,
 'Zaki': 7892541848}

In [173]:
# deleting an item from ther dictonary

del contact["Zaki"]
contact

{'Ahad': 9632655288, 'dad': 8217617426, 'mom': 7019721464, 'Fahad': 9902344892}

In [174]:
# deleting an item from ther dictonary

contact.pop("dad")
contact

{'Ahad': 9632655288, 'mom': 7019721464, 'Fahad': 9902344892}

In [175]:
# Accesing the items in dictonary using for loop 

for i in contact:
    print("key:",i,"Values:",contact[i])
    
for k,v in contact.items():
    print("KEY:",k,"VALUES:",v)

key: Ahad Values: 9632655288
key: mom Values: 7019721464
key: Fahad Values: 9902344892
KEY: Ahad VALUES: 9632655288
KEY: mom VALUES: 7019721464
KEY: Fahad VALUES: 9902344892

In [176]:
"Zaki" in contact

False

In [177]:
"mom" in contact

True

In [178]:
# clearing or wiping out the entile dictonary

contact.clear()
contact

{}

# Tuples

Here all values have different meanings (Hetreogenious)
ex point = (5,9)  
and they are immutable so we cannot change them

In [179]:
tup = ("4th corss","9th cross",8800)
tup

('4th corss', '9th cross', 8800)

In [183]:
# the values cannot ber changed (immutable) 
tup[0] = "9th cross"

TypeError: 'tuple' object does not support item assignment

# Modules

Modules i was way to re-use the pre written code

In [186]:
import math
math.sqrt(16)

4.0

In [189]:
math.pow(2,4)

16.0

In [190]:
# to know all the math modules
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [192]:
math.log(2)

0.6931471805599453

In [193]:
math.pi

3.141592653589793

In [194]:
math.log10(3)

0.47712125471966244

Calendar module

In [197]:
import calendar
cal = calendar.month(2003,6)
print(cal)

     June 2003
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [198]:
calendar.isleap(2003)

False

In [199]:
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_get_default_locale',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [200]:
yr = calendar.calendar(2003)
print(yr)

                                  2003

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

# File Manuplation

In [203]:
# writing into a file
fl = open("file1.txt","w")
fl.write("Cheese on a NIGGA!")
fl.close()

In [204]:
# APPENDING THE FILE without over riding it previous oner
fl = open("file1.txt","a")
fl.write("Suck a nigga dick or something")
fl.close()

In [216]:
# Reading a file

f2 = open("file1.txt","r")
read = f2.read()
print(read)

k=0
for i in read:
    k=k+1
print(k)
f2.close()

Poverty is a state or condition in which one lacks the financial resources and essentials for a certain standard of living.
123
Poverty is a state or condition in which one lacks the financial resources and essentials for a certain standard of living.

In [223]:
# with statement we dont need to write close function

with open("file1.txt","r") as f2_1:
    print(f2_1.read())

Poverty is a state or condition in which one lacks the financial resources and essentials for a certain standard of living.